@import "../node_modules/vanilla-framework/index";
@include vanilla;

.main-header {
    margin-top: 100px;
    display: flex;
}

.blue-text {
    color: lightblue;
}

.left-align {
    display: flex;
    align-items: flex-start;
}